<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
	<add key="Old Sitecore v9.1" value="https://sitecore.myget.org/F/sc-platform-9-1/api/v3/index.json" />
    <add key="Sitecore Platform" value="https://sitecore.myget.org/F/sc-packages/api/v3/index.json" />
    <add key="Sitecore Framework" value="https://sitecore.myget.org/F/sc-framework-packages/api/v3/index.json" />
  </packageSources>
</configuration>
