<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="Bonfire.Analytics.Dto.Pipelines.Initialize.RegisterCustomRoute, Bonfire.Analytics.Dto"
          patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']"/>
      </initialize>
    </pipelines>
    <services>
      <configurator type="Bonfire.Analytics.Dto.ServiceConfigurator.DiConfigurator, Bonfire.Analytics.Dto" />
    </services>
  </sitecore>
</configuration>