@using System.Web.Script.Serialization
@using Bonfire.Analytics.Dto.Serialization
@using Newtonsoft.Json
@model Bonfire.Analytics.Dto.Models.TrackerDto

<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>Visitor Details</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/styles/jquery.json-viewer.css" rel="stylesheet">
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="/scripts/jquery.json-viewer.js"></script>
</head>
<body>
  <style>
    body {
      margin-top: 50px;
    }

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 60px;
      background: #212121;
      padding: 10px;
    }

      .header a {
        height: 50px;
      }

        .header a img {
          max-height: 50px;
          width: auto;
        }

      .header h1 {
        font-size: 1.5rem;
        margin-right: 50px;
        color: #fff;
        padding: 10px;
        margin: 0;
        align-self: end;
      }

    .separator {
      background-color: #212121;
    }

    hr {
      width: calc(100% - 20px);
      margin: 0 auto;
      display: block;
      background-color: white;
      height: 1px;
    }

    pre {
      padding: 10px;
    }

    nav > .nav.nav-tabs {
      border: none;
      color: #fff;
      background: #212121;
      border-radius: 0;
    }

    nav > div a.nav-item.nav-link,
    nav > div a.nav-item.nav-link.active {
      border: none;
      padding: 18px 25px;
      color: #fff;
      background: #212121;
      border-radius: 0;
    }

      nav > div a.nav-item.nav-link.active:after {
        content: "";
        position: relative;
        bottom: -60px;
        left: -10%;
        border: 15px solid transparent;
        border-top-color: #ee3524;
      }

    .tab-content {
      background: #fdfdfd;
      line-height: 25px;
      border: 1px solid #ddd;
      border-top: 5px solid #ee3524;
      border-bottom: 5px solid #ee3524;
      padding: 30px 25px;
    }

    nav > div a.nav-item.nav-link:hover,
    nav > div a.nav-item.nav-link:focus {
      border: none;
      background: #ee3524;
      color: #fff;
      border-radius: 0;
      transition: background 0.20s linear;
    }

    li.array-li:after {
      content: "]";
    }
  </style>
  <form id="form1" runat="server">
    <!------ Include the above in your HEAD tag ---------->
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="header">
            <a href="https://www.buildabonfire.com/">
              <img src="https://static1.squarespace.com/static/54424858e4b06e8b47dc7c92/t/544249bce4b0f7cb91be3ed4/1557846384729/?format=1500w" alt="" />
            </a>
            <h1>xDBPeek by Bonfire</h1>
          </div>
          <div class="separator">
            <hr />
          </div>
          <nav>
            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="true">Contact</a>
              <a class="nav-item nav-link" id="nav-visit-data-tab" data-toggle="tab" href="#nav-visit-data" role="tab" aria-controls="nav-visit-data" aria-selected="false">Visit Data</a>
              <a class="nav-item nav-link" id="nav-pages-tab" data-toggle="tab" href="#nav-pages" role="tab" aria-controls="nav-pages" aria-selected="false">Pages</a>
              <a class="nav-item nav-link" id="nav-goals-tab" data-toggle="tab" href="#nav-goals" role="tab" aria-controls="nav-goals" aria-selected="false">Goals</a>
              <a class="nav-item nav-link" id="nav-engagement-plans-tab" data-toggle="tab" href="#nav-engagement-plans" role="tab" aria-controls="nav-engagement-plans" aria-selected="false">Engagement Plans</a>
              <a class="nav-item nav-link" id="nav-campaigns-tab" data-toggle="tab" href="#nav-campaigns" role="tab" aria-controls="nav-campaigns" aria-selected="false">Campaigns</a>
              <a class="nav-item nav-link" id="nav-facets-tab" data-toggle="tab" href="#nav-facets" role="tab" aria-controls="nav-facets" aria-selected="false">Facets</a>
              <a class="nav-item nav-link" id="nav-profiles-tab" data-toggle="tab" href="#nav-profiles" role="tab" aria-controls="nav-profiles" aria-selected="false">Profiles</a>
            </div>
          </nav>
          <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
              <pre class="contact-list-pre"></pre>
            </div>
            <div class="tab-pane fade" id="nav-visit-data" role="tabpanel" aria-labelledby="nav-visit-data-tab">
              <pre class="visit-data-list-pre"></pre>
            </div>
            <div class="tab-pane fade" id="nav-pages" role="tabpanel" aria-labelledby="nav-pages-tab">
              <pre class="pages-list-pre"></pre>
            </div>
            <div class="tab-pane fade" id="nav-goals" role="tabpanel" aria-labelledby="nav-goals-tab">
              <pre class="goals-list-pre"></pre>
            </div>
            <div class="tab-pane fade" id="nav-engagement-plans" role="tabpanel" aria-labelledby="nav-engagement-plans-tab">
              <pre class="engagement-plans-list-pre"></pre>
            </div>
            <div class="tab-pane fade" id="nav-campaigns" role="tabpanel" aria-labelledby="nav-campaigns-tab">
              <pre class="campaigns-list-pre"></pre>
            </div>
            <div class="tab-pane fade" id="nav-facets" role="tabpanel" aria-labelledby="nav-facets-tab">
              <pre class="facets-list-pre"></pre>
            </div>
            <div class="tab-pane fade" id="nav-profiles" role="tabpanel" aria-labelledby="nav-profiles-tab">
              <pre class="profiles-list-pre"></pre>
            </div>
          </div>

        </div>
      </div>
    </div>
  </form>
  @{
    var jsonSettings = new JsonSerializerSettings()
    {
      ReferenceLoopHandling = ReferenceLoopHandling.Serialize,
      PreserveReferencesHandling = PreserveReferencesHandling.Objects
    };
    var contacts = Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Contact));
    var interactions = Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Interaction));
    var pagesViewed = Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.PagesViewed));
    var goalsList = Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.GoalsList));
    var pastGoals = Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.PastGoals));
    var engagementPlanStates = Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.EngagementPlanStates));
    var currentCampaign = Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.CurrentCampaign));
    var pastCampaigns = Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.PastCampaigns));
    var facets = Model.Facets != null ? Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Facets, Formatting.None, jsonSettings)).ToString() : "";
    var currentProfiles = Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.CurrentProfiles));
    var pastProfiles = Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.PastProfiles));
  }
  <script>
  function getVisitorDetails() {
    $('.contact-list-pre').jsonViewer(@contacts);
    $('.pages-list-pre').jsonViewer(@pagesViewed);
    var goals = {};
    goals.CurrentGoals = @goalsList;
    goals.PastGoals = @pastGoals;
    $('.goals-list-pre').jsonViewer(goals);
    $('.visit-data-list-pre').jsonViewer(@interactions);
    $('.engagement-plans-list-pre').jsonViewer(@engagementPlanStates);
    var campaigns = {};
    campaigns.CurrentCampaign = @currentCampaign;
    campaigns.PastCampaigns = @pastCampaigns;
    $('.campaigns-list-pre').jsonViewer(campaigns);
    var profiles = {};
    profiles.CurrentProfiles = @currentProfiles;
    profiles.PastProfiles = @pastProfiles;
    $('.profiles-list-pre').jsonViewer(profiles);
  }

    function fillObject(parent, object) {
      //      parent.innerHTML = JSON.stringify(object, undefined, 2);
      if (!object)
        return;
      renderProperties(parent, object);
    }

    function renderProperties(parent, object) {
      for (var key in object) {
        const newProperty = document.createElement('li');
        if (typeof object[key] === 'object') {
          if (!isNaN(key)) {
            newProperty.classList.add('array-li');
          }
          newProperty.innerHTML = !isNaN(key) ? '[' : key;
          renderSubProperties(newProperty, object[key]);
        } else {
          newProperty.innerHTML = key + ': ' + (object[key] || '');
        }
        parent.appendChild(newProperty);
      }
    }

    function renderSubProperties(parent, object) {
      for (var key in object) {
        const subPropertyList = document.createElement('ul');
        const subProperty = document.createElement('li');
        if (typeof object[key] === 'object') {
          if (!isNaN(key)) {
            subProperty.classList.add('array-li');
          }
          subProperty.innerHTML = !isNaN(key) ? '[' : key;
        } else {
          subProperty.innerHTML = key + ': ' + (object[key] || '');
        }
        subPropertyList.appendChild(subProperty);
        parent.appendChild(subPropertyList);
        if (typeof object[key] === 'object')
          renderSubProperties(subPropertyList, object[key]);
      }
    }

    (function () {
      getVisitorDetails();
    })();
  </script>
</body>
</html>
