@model Bonfire.Analytics.Dto.Models.TrackerDto

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        @Model.IsActive
    </div>
</body>
</html>
